n8n-workflow-dashboard-api.json
{
  "name": "GLS Dashboard API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "gls-slots",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1000001-a100-a100-a100-a10000000001",
      "name": "Slots Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        100
      ],
      "webhookId": "b1000001-b100-b100-b100-b10000000001"
    },
    {
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Slots"
        },
        "options": {}
      },
      "id": "a1000002-a100-a100-a100-a10000000002",
      "name": "Read Slots",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        450,
        100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var slots = $input.all().map(function(i){return i.json;});\nvar available = slots.filter(function(s){return String(s.Status||'').toLowerCase()==='available' && parseInt(s.booked_count||0) < parseInt(s.capacity||1);});\nreturn [{json:{slots:available,count:available.length}}];"
      },
      "id": "a1000003-a100-a100-a100-a10000000003",
      "name": "Format Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a1000004-a100-a100-a100-a10000000004",
      "name": "Respond Slots",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        950,
        100
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "gls-contacts",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a2000001-a200-a200-a200-a20000000001",
      "name": "Contacts Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        400
      ],
      "webhookId": "b2000001-b200-b200-b200-b20000000001"
    },
    {
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Contacts"
        },
        "options": {}
      },
      "id": "a2000002-a200-a200-a200-a20000000002",
      "name": "Read Contacts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        450,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var contacts = $input.all().map(function(i){return i.json;}).filter(function(c){return c.status !== 'deleted';});\nreturn [{json:{contacts:contacts,count:contacts.length}}];"
      },
      "id": "a2000003-a200-a200-a200-a20000000003",
      "name": "Format Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a2000004-a200-a200-a200-a20000000004",
      "name": "Respond Contacts",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        950,
        400
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-add-contact",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a3000001-a300-a300-a300-a30000000001",
      "name": "Add Contact Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        700
      ],
      "webhookId": "b3000001-b300-b300-b300-b30000000001"
    },
    {
      "parameters": {
        "jsCode": "var body = $input.first().json.body || $input.first().json;\nvar now = new Date().toISOString();\nreturn [{json:{\n  email: String(body.email||'').toLowerCase().trim(),\n  name: body.name||'',\n  company: body.company||'',\n  title: body.title||'',\n  invite_sent: 'no',\n  invite_sent_at: '',\n  opened: 'no',\n  booked: 'no',\n  notes: body.notes||'',\n  created_at: now\n}}];"
      },
      "id": "a3000002-a300-a300-a300-a30000000002",
      "name": "Prep Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        700
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "name": "={{ $json.name }}",
            "company": "={{ $json.company }}",
            "title": "={{ $json.title }}",
            "invite_sent": "={{ $json.invite_sent }}",
            "invite_sent_at": "={{ $json.invite_sent_at }}",
            "opened": "={{ $json.opened }}",
            "booked": "={{ $json.booked }}",
            "notes": "={{ $json.notes }}",
            "created_at": "={{ $json.created_at }}"
          }
        },
        "options": {}
      },
      "id": "a3000003-a300-a300-a300-a30000000003",
      "name": "Append Contact",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        700,
        700
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success:true,email:$json.email}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a3000004-a300-a300-a300-a30000000004",
      "name": "Respond Add Contact",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        950,
        700
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-invite",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a4000001-a400-a400-a400-a40000000001",
      "name": "Invite Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        1000
      ],
      "webhookId": "b4000001-b400-b400-b400-b40000000001"
    },
    {
      "parameters": {
        "jsCode": "var body = $input.first().json.body || $input.first().json;\nreturn [{json:{email:body.email,name:body.name||body.email,company:body.company||''}}];"
      },
      "id": "a4000002-a400-a400-a400-a40000000002",
      "name": "Prep Invite",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        1000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "GLS \u4f20\u8baf <notifications@smartflowhk.com>"
            },
            {
              "name": "to",
              "value": "={{ $json.email }}"
            },
            {
              "name": "reply_to",
              "value": "marketing@glshk.com"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a4000003-a400-a400-a400-a40000000003",
      "name": "Send Invite Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        1000
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "N0PEoBiSaAobtA1x",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var email = $node['Sub Invite Vars'].json.email || '';\nreturn [{json:{email:email,invite_sent:'yes',invite_sent_at:new Date().toISOString(),status:'sent'}}];"
      },
      "id": "a4000004-a400-a400-a400-a40000000004",
      "name": "Mark Invite Sent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invite_sent": "={{ $json.invite_sent }}",
            "invite_sent_at": "={{ $json.invite_sent_at }}",
            "status": "={{ $json.status }}",
            "email": "={{ $json.email }}"
          },
          "matchingColumns": [
            "email"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a4000005-a400-a400-a400-a40000000005",
      "name": "Update Contact Invited",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1200,
        1000
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success:true,email:$json.email}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a4000006-a400-a400-a400-a40000000006",
      "name": "Respond Invite",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1450,
        1000
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-invite-all",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a5000001-a500-a500-a500-a50000000001",
      "name": "Invite All Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        1300
      ],
      "webhookId": "b5000001-b500-b500-b500-b50000000001"
    },
    {
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Contacts"
        },
        "options": {}
      },
      "id": "a5000002-a500-a500-a500-a50000000002",
      "name": "Read Contacts All",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        450,
        1300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var contacts = $input.all().map(function(i){return i.json;});\nvar uninvited = contacts.filter(function(c){\n  return !c.invite_sent || c.invite_sent==='no' || c.invite_sent==='';\n});\nreturn [{json:{contacts:uninvited,count:uninvited.length}}];"
      },
      "id": "a5000003-a500-a500-a500-a50000000003",
      "name": "Filter Uninvited",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        1300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-5001",
              "leftValue": "={{ $json.count }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "rightValue": 0
            }
          ]
        },
        "options": {}
      },
      "id": "a5000004-a500-a500-a500-a50000000004",
      "name": "IF Has Uninvited",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        950,
        1300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success:true,sent:0,message:'No contacts to invite'}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a5000005-a500-a500-a500-a50000000005",
      "name": "Respond None",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        1500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success:true,sent:$json.count,status:'processing'}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a5000006-a500-a500-a500-a50000000006",
      "name": "Respond Sending",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        1100
      ]
    },
    {
      "parameters": {
        "jsCode": "return $json.contacts.map(function(c){return {json:c};});"
      },
      "id": "a5000007-a500-a500-a500-a50000000007",
      "name": "Expand Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "GLS \u4f20\u8baf <notifications@smartflowhk.com>"
            },
            {
              "name": "to",
              "value": "={{ $json.email }}"
            },
            {
              "name": "reply_to",
              "value": "marketing@glshk.com"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a5000008-a500-a500-a500-a50000000008",
      "name": "Send All Invites",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        1100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "N0PEoBiSaAobtA1x",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var email = $input.first().json.email || '';\nreturn [{json:{email:email,invite_sent:'yes',invite_sent_at:new Date().toISOString(),status:'sent'}}];"
      },
      "id": "a5000009-a500-a500-a500-a50000000009",
      "name": "Mark All Sent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1950,
        1100
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invite_sent": "={{ $json.invite_sent }}",
            "invite_sent_at": "={{ $json.invite_sent_at }}",
            "status": "={{ $json.status }}",
            "email": "={{ $json.email }}"
          },
          "matchingColumns": [
            "email"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a5000010-a500-a500-a500-a50000000010",
      "name": "Update All Invited",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2200,
        1100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-remind",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a6000001-a600-a600-a600-a60000000001",
      "name": "Remind Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        1800
      ],
      "webhookId": "b6000001-b600-b600-b600-b60000000001"
    },
    {
      "parameters": {
        "jsCode": "var body = $input.first().json.body || $input.first().json;\nreturn [{json:{email:body.email,name:body.name||body.email,company:body.company||''}}];"
      },
      "id": "a6000002-a600-a600-a600-a60000000002",
      "name": "Prep Remind",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        1800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "GLS \u4f20\u8baf <notifications@smartflowhk.com>"
            },
            {
              "name": "to",
              "value": "={{ $json.email }}"
            },
            {
              "name": "reply_to",
              "value": "marketing@glshk.com"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a6000003-a600-a600-a600-a60000000003",
      "name": "Send Remind Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        1800
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "N0PEoBiSaAobtA1x",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success:true,email:$node['Sub Remind Vars'].json.email}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a6000004-a600-a600-a600-a60000000004",
      "name": "Respond Remind",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        950,
        1800
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "gls-pending",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a7000001-a700-a700-a700-a70000000001",
      "name": "Pending Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        2100
      ],
      "webhookId": "b7000001-b700-b700-b700-b70000000001"
    },
    {
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Booking"
        },
        "options": {}
      },
      "id": "a7000002-a700-a700-a700-a70000000002",
      "name": "Read Bookings Pending",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        450,
        2100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var CAPACITY = 3;\nvar bookings = $input.all().map(function(i){return i.json;}).filter(function(b){return !!b.date;});\nvar confirmedCount = {};\nbookings.filter(function(b){\n  return String(b.status||'').toLowerCase() === 'confirmed';\n}).forEach(function(b){\n  var id = b.slot_Id || b.slot_id || '';\n  confirmedCount[id] = (confirmedCount[id]||0) + 1;\n});\nvar pending = bookings.filter(function(b){\n  var s = String(b.status||'').toLowerCase();\n  return b.date && (s==='' || s==='pending');\n});\nvar pendingCount = {};\npending.forEach(function(b){\n  var id = b.slot_Id || b.slot_id || '';\n  pendingCount[id] = (pendingCount[id]||0) + 1;\n});\npending = pending.map(function(b){\n  var id = b.slot_Id || b.slot_id || '';\n  var conf = confirmedCount[id] || 0;\n  var pend = pendingCount[id] || 0;\n  var conflict = conf >= CAPACITY || (conf + pend) > CAPACITY;\n  return Object.assign({}, b, {slot_status: conflict ? 'taken' : 'available'});\n});\npending.sort(function(a,b){\n  return String(a.date).localeCompare(String(b.date))||String(a.time).localeCompare(String(b.time));\n});\nreturn [{json:{bookings:pending,count:pending.length}}];"
      },
      "id": "a7000003-a700-a700-a700-a70000000003",
      "name": "Format Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        2100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a7000004-a700-a700-a700-a70000000004",
      "name": "Respond Pending",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        950,
        2100
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-assign",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a8000001-a800-a800-a800-a80000000001",
      "name": "Assign Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        2400
      ],
      "webhookId": "b8000001-b800-b800-b800-b80000000001"
    },
    {
      "parameters": {
        "jsCode": "var body = $input.first().json.body || $input.first().json;\nvar dateParts = String(body.date||'').split('/');\nvar timeParts = String(body.time||'').split(':');\nvar calLink = '';\nif (dateParts.length===3 && timeParts.length>=1) {\n  var yr=dateParts[2], mo=dateParts[0].padStart(2,'0'), dy=dateParts[1].padStart(2,'0');\n  var h=parseInt(timeParts[0]||0), m=parseInt(timeParts[1]||0);\n  var startStr=yr+mo+dy+'T'+String(h).padStart(2,'0')+String(m).padStart(2,'0')+'00';\n  var endM=m+30, endH=h+Math.floor(endM/60); endM=endM%60;\n  var endStr=yr+mo+dy+'T'+String(endH).padStart(2,'0')+String(endM).padStart(2,'0')+'00';\n  calLink='https://calendar.google.com/calendar/render?action=TEMPLATE&text=Meeting+with+GLS&dates='+startStr+'/'+endStr+'&details=GLS+appointment+at+Air+Cargo+China+2026&location=Shanghai+New+International+Expo+Centre';\n}\nreturn [{json:{\n  slot_Id: body.slot_id||body.slot_Id,\n  date: body.date,\n  time: body.time,\n  client_name: body.client_name,\n  client_email: body.email,\n  email: body.email,\n  company: body.company||'',\n  salesperson_name: body.salesperson_name,\n  salesperson_email: body.salesperson_email,\n  cal_link: calLink,\n  booking_id: body.booking_id||'',\n  status: 'confirmed'\n}}];"
      },
      "id": "a8000002-a800-a800-a800-a80000000002",
      "name": "Prep Assign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        2400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Booking"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "salesperson_name": "={{ $json.salesperson_name }}",
            "salesperson_email": "={{ $json.salesperson_email }}",
            "status": "={{ $json.status }}",
            "slot_Id": "={{ $json.slot_Id }}",
            "email": "={{ $json.email }}",
            "booking_id": "={{ $json.booking_id }}"
          },
          "matchingColumns": [
            "booking_id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a8000003-a800-a800-a800-a80000000003",
      "name": "Update Booking Assigned",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        700,
        2400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "GLS \u4f20\u8baf <notifications@smartflowhk.com>"
            },
            {
              "name": "to",
              "value": "={{ $json.salesperson_email }}"
            },
            {
              "name": "reply_to",
              "value": "marketing@glshk.com"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a8000004-a800-a800-a800-a80000000004",
      "name": "Send SP Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        950,
        2400
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "N0PEoBiSaAobtA1x",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "GLS \u4f20\u8baf <notifications@smartflowhk.com>"
            },
            {
              "name": "to",
              "value": "={{ $json.client_email }}"
            },
            {
              "name": "reply_to",
              "value": "marketing@glshk.com"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a8000005-a800-a800-a800-a80000000005",
      "name": "Send Customer Confirm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        2400
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "N0PEoBiSaAobtA1x",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success:true,slot_id:$node['Prep Assign'].json.slot_Id,salesperson:$node['Prep Assign'].json.salesperson_name}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a8000006-a800-a800-a800-a80000000006",
      "name": "Respond Assign",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1450,
        2400
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "gls-bookings",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a9000001-a900-a900-a900-a90000000001",
      "name": "Bookings Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        2700
      ],
      "webhookId": "b9000001-b900-b900-b900-b90000000001"
    },
    {
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Booking"
        },
        "options": {}
      },
      "id": "a9000002-a900-a900-a900-a90000000002",
      "name": "Read All Bookings JSON",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        450,
        2700
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var bookings = $input.all().map(function(i){return i.json;}).filter(function(b){var s=String(b.status||'').toLowerCase();return !!b.date&&(s==='confirmed'||s==='cancelled');});\nbookings.sort(function(a,b){return String(a.date).localeCompare(String(b.date))||String(a.time).localeCompare(String(b.time));});\nreturn [{json:{bookings:bookings,count:bookings.filter(function(b){return String(b.status||'').toLowerCase()==='confirmed';}).length}}];"
      },
      "id": "a9000003-a900-a900-a900-a90000000003",
      "name": "Format All Bookings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        2700
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a9000004-a900-a900-a900-a90000000004",
      "name": "Respond Bookings",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        950,
        2700
      ]
    },
    {
      "id": "A5CF2A7A",
      "name": "Templates Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        2900
      ],
      "parameters": {
        "httpMethod": "GET",
        "path": "gls-templates",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "1C4660EE",
      "name": "Read Templates Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        2900
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Template"
        },
        "options": {
          "continueIfEmpty": true
        }
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "id": "E3AC3404",
      "name": "Respond Templates",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        2900
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({templates: $input.all().map(i => i.json)}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "1CE47B92",
      "name": "Save Template Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        3060
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-save-template",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "ACFE4342",
      "name": "Update Template Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        3060
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Template"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "template_name": "={{ $json.body.template_name || $json.template_name }}",
            "subject": "={{ $json.body.subject || $json.subject }}",
            "body": "={{ $json.body.body || $json.body_text }}"
          },
          "matchingColumns": [
            "template_name"
          ],
          "attemptToConvertTypes": false
        },
        "options": {}
      }
    },
    {
      "id": "FE88EFE8",
      "name": "Respond Save Template",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        3060
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "910C315F",
      "name": "SendGrid Events Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        3220
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-sendgrid-events",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "FAC401E6",
      "name": "Process SG Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        3220
      ],
      "parameters": {
        "jsCode": "var events = $input.first().json.body || $input.first().json;\nif (!Array.isArray(events)) events = [events];\nvar statusMap = { open: 'opened', click: 'clicked', bounce: 'bounced', unsubscribe: 'unsubscribed', spamreport: 'spam' };\nvar results = [];\nevents.forEach(function(e) {\n  var status = statusMap[e.event];\n  if (status && e.email) results.push({ email: e.email, status: status });\n});\nreturn results.map(function(r) { return { json: r }; });"
      }
    },
    {
      "id": "63ACD35D",
      "name": "Update Contact Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        3220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "email"
          ],
          "attemptToConvertTypes": false
        },
        "options": {}
      }
    },
    {
      "id": "04F63759",
      "name": "Respond SG Events",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        3220
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true}",
        "options": {}
      }
    },
    {
      "id": "S1000001",
      "name": "Staff Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        3400
      ],
      "parameters": {
        "httpMethod": "GET",
        "path": "gls-staff",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "staff-webhook-001"
    },
    {
      "id": "S1000002",
      "name": "Read Staff Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        250,
        3400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Staff"
        },
        "options": {}
      }
    },
    {
      "id": "S1000003",
      "name": "Respond Staff",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        500,
        3400
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({staff: $input.all().map(i => ({name: i.json.salesperson_name, email: i.json.salesperson_email}))}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "I1000001",
      "name": "Image Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        3560
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-upload-image",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "I1000002",
      "name": "GitHub Upload Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        3560
      ],
      "parameters": {
        "jsCode": "var body = $input.first().json.body || $input.first().json;\nvar filename = body.filename || ('img_' + Date.now() + '.png');\nvar content = body.content || '';\nvar token = process.env.GLS_GITHUB_TOKEN || '';\nvar url = 'https://api.github.com/repos/hkcalsto1/gls-chuanxun/contents/assets/' + filename;\nvar resp = await fetch(url, {\n  method: 'PUT',\n  headers: { 'Authorization': 'token ' + token, 'Content-Type': 'application/json', 'User-Agent': 'n8n' },\n  body: JSON.stringify({ message: 'Upload image ' + filename, content: content })\n});\nvar result = await resp.json();\nvar pageUrl = result.content && result.content.html_url\n  ? 'https://gls.smartflowhk.com/assets/' + filename\n  : '';\nreturn [{json: {url: pageUrl, filename: filename, success: !!pageUrl}}];"
      }
    },
    {
      "id": "I1000003",
      "name": "Respond Image Upload",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        500,
        3560
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "U1000001",
      "name": "Unsubscribe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        3720
      ],
      "parameters": {
        "httpMethod": "GET",
        "path": "gls-unsubscribe",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "unsub-webhook-001"
    },
    {
      "id": "U1000002",
      "name": "Update Unsubscribe Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        250,
        3720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.query.email || $json.email }}",
            "status": "={{ 'unsubscribed' }}"
          },
          "matchingColumns": [
            "email"
          ],
          "attemptToConvertTypes": false
        },
        "options": {}
      }
    },
    {
      "id": "U1000003",
      "name": "Respond Unsubscribe",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        500,
        3720
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<html><body style='font-family:sans-serif;text-align:center;padding:60px'><h2>Unsubscribed</h2><p>You have been removed from GLS \u4f20\u8baf mailing list.</p></body></html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      }
    },
    {
      "id": "T1001",
      "name": "Read Tpl Invite",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        700,
        1000
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Template"
        },
        "options": {
          "continueIfEmpty": true
        }
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "id": "T1002",
      "name": "Sub Invite Vars",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        1000
      ],
      "parameters": {
        "jsCode": "var templates = $input.all().map(i => i.json);\nvar tpl = templates.find(t => t.template_name === 'invite') || {subject:'GLS \u4f20\u8baf invites you to {{event_name}}',body:'Dear {{name}},\\n\\nGLS \u4f20\u8baf invites you to {{event_name}}.\\n\\n\ud83d\udcc5 {{event_dates}}\\n\ud83d\udccd {{event_venue}}\\n\\nBook your slot: {{booking_link}}\\n\\nGLS \u4f20\u8baf Team'};\nvar data = $node['Prep Invite'].json;\nvar settingsData = {};\ntry { var sr = await fetch('https://n8n.okahh.com/webhook/gls-settings'); settingsData = await sr.json(); } catch(e) {}\nvar evtName = settingsData.event_name || 'Air Cargo China 2026';\nvar evtDates = settingsData.event_dates || 'June 24\u201326, 2026';\nvar evtVenue = settingsData.event_venue || 'Shanghai New International Expo Centre';\nvar vars = {'{{name}}':data.name||'','{{company}}':data.company||'','{{booking_link}}':'https://gls.smartflowhk.com/booking/','{{unsubscribe_link}}':'https://n8n.okahh.com/webhook/gls-unsubscribe?email='+encodeURIComponent(data.email||''),'{{event_name}}':evtName,'{{event_dates}}':evtDates,'{{event_venue}}':evtVenue};\nvar subject = (tpl.subject||'').replace(/[\\r\\n]+/g,'').trim();\nvar body = (tpl.body||'').replace(/\\\\n/g,'\\n');\nObject.keys(vars).forEach(k=>{subject=subject.split(k).join(vars[k]);body=body.split(k).join(vars[k]);});\nif(!/<[a-z]/i.test(body)){body='<div style=\"font-family:Arial,sans-serif;font-size:14px;color:#222;line-height:1.8\">'+body.split('\\n').join('<br>')+'</div>';}\nreturn [{json:{email:data.email,name:data.name,company:data.company,subject:subject,body:body}}];"
      }
    },
    {
      "id": "T2001",
      "name": "Read Tpl Bulk Invite",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1450,
        1100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Template"
        },
        "options": {
          "continueIfEmpty": true
        }
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "id": "T2002",
      "name": "Prep Bulk Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        1100
      ],
      "parameters": {
        "jsCode": "var templates = $input.all().map(i => i.json);\nvar tpl = templates.find(t => t.template_name === 'invite') || {subject:'GLS \u4f20\u8baf invites you to {{event_name}}',body:'Dear {{name}},\\n\\nGLS \u4f20\u8baf invites you to {{event_name}}.\\n\\n\ud83d\udcc5 {{event_dates}}\\n\ud83d\udccd {{event_venue}}\\n\\nBook your slot: {{booking_link}}\\n\\nGLS \u4f20\u8baf Team'};\nvar contacts = $node['Filter Uninvited'].json.contacts || [];\nvar settingsData = {};\ntry { var sr = await fetch('https://n8n.okahh.com/webhook/gls-settings'); settingsData = await sr.json(); } catch(e) {}\nvar evtName = settingsData.event_name || 'Air Cargo China 2026';\nvar evtDates = settingsData.event_dates || 'June 24\u201326, 2026';\nvar evtVenue = settingsData.event_venue || 'Shanghai New International Expo Centre';\nreturn contacts.map(function(c){\n  var vars = {'{{name}}':c.name||'','{{company}}':c.company||'','{{booking_link}}':'https://gls.smartflowhk.com/booking/','{{unsubscribe_link}}':'https://n8n.okahh.com/webhook/gls-unsubscribe?email='+encodeURIComponent(c.email||''),'{{event_name}}':evtName,'{{event_dates}}':evtDates,'{{event_venue}}':evtVenue};\n  var subject = (tpl.subject||'').replace(/[\\r\\n]+/g,'').trim();\n  var body = (tpl.body||'').replace(/\\\\n/g,'\\n');\n  Object.keys(vars).forEach(k=>{subject=subject.split(k).join(vars[k]);body=body.split(k).join(vars[k]);});\n  if(!/<[a-z]/i.test(body)){body='<div style=\"font-family:Arial,sans-serif;font-size:14px;color:#222;line-height:1.8\">'+body.split('\\n').join('<br>')+'</div>';}\n  return {json:{email:c.email,name:c.name,company:c.company||'',subject:subject,body:body}};\n});"
      }
    },
    {
      "id": "T3001",
      "name": "Read Tpl Remind",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        700,
        1800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Template"
        },
        "options": {
          "continueIfEmpty": true
        }
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "id": "T3002",
      "name": "Sub Remind Vars",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        1800
      ],
      "parameters": {
        "jsCode": "var templates = $input.all().map(i => i.json);\nvar tpl = templates.find(t => t.template_name === 'reminder_manual') || {subject:'Reminder: Book your meeting with GLS \u4f20\u8baf at {{event_name}}',body:'Dear {{name}},\\n\\nThis is a friendly reminder that GLS \u4f20\u8baf would love to meet you at {{event_name}}.\\n\\nBook your slot: {{booking_link}}\\n\\nGLS \u4f20\u8baf Team'};\nvar data = $node['Prep Remind'].json;\nvar settingsData = {};\ntry { var sr = await fetch('https://n8n.okahh.com/webhook/gls-settings'); settingsData = await sr.json(); } catch(e) {}\nvar evtName = settingsData.event_name || 'Air Cargo China 2026';\nvar evtDates = settingsData.event_dates || 'June 24\u201326, 2026';\nvar evtVenue = settingsData.event_venue || 'Shanghai New International Expo Centre';\nvar vars = {'{{name}}':data.name||'','{{company}}':data.company||'','{{booking_link}}':'https://gls.smartflowhk.com/booking/','{{unsubscribe_link}}':'https://n8n.okahh.com/webhook/gls-unsubscribe?email='+encodeURIComponent(data.email||''),'{{event_name}}':evtName,'{{event_dates}}':evtDates,'{{event_venue}}':evtVenue};\nvar subject = (tpl.subject||'').replace(/[\\r\\n]+/g,'').trim();\nvar body = (tpl.body||'').replace(/\\\\n/g,'\\n');\nObject.keys(vars).forEach(k=>{subject=subject.split(k).join(vars[k]);body=body.split(k).join(vars[k]);});\nif(!/<[a-z]/i.test(body)){body='<div style=\"font-family:Arial,sans-serif;font-size:14px;color:#222;line-height:1.8\">'+body.split('\\n').join('<br>')+'</div>';}\nreturn [{json:{email:data.email,name:data.name,company:data.company,subject:subject,body:body}}];"
      }
    },
    {
      "id": "T4001",
      "name": "Read Tpl SP",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        700,
        2400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Template"
        },
        "options": {
          "continueIfEmpty": true
        }
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "id": "T4002",
      "name": "Sub SP Vars",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        2400
      ],
      "parameters": {
        "jsCode": "var templates = $input.all().map(i => i.json);\nvar tpl = templates.find(t => t.template_name === 'sp_confirm') || {subject:'[GLS \u4f20\u8baf] New appointment assigned at {{event_name}}',body:'Dear {{salesperson_name}},\\n\\nYou have been assigned a meeting at {{event_name}}:\\n\ud83d\udc64 {{client_name}} ({{company}})\\n\ud83d\udce7 {{client_email}}\\n\ud83d\udcc5 {{date}} {{time}}\\n\ud83d\udccd {{event_venue}}\\n\\nGLS \u4f20\u8baf Team'};\nvar d = $node['Prep Assign'].json;\nvar settingsData = {};\ntry { var sr = await fetch('https://n8n.okahh.com/webhook/gls-settings'); settingsData = await sr.json(); } catch(e) {}\nvar evtName = settingsData.event_name || 'Air Cargo China 2026';\nvar evtDates = settingsData.event_dates || 'June 24\u201326, 2026';\nvar evtVenue = settingsData.event_venue || 'Shanghai New International Expo Centre';\nvar vars = {'{{salesperson_name}}':d.salesperson_name||'','{{client_name}}':d.client_name||'','{{company}}':d.company||'','{{client_email}}':d.client_email||'','{{date}}':d.date||'','{{time}}':d.time||'','{{event_name}}':evtName,'{{event_dates}}':evtDates,'{{event_venue}}':evtVenue};\nvar subject = (tpl.subject||'').replace(/[\\r\\n]+/g,'').trim();\nvar body = (tpl.body||'').replace(/\\\\n/g,'\\n');\nObject.keys(vars).forEach(k=>{subject=subject.split(k).join(vars[k]);body=body.split(k).join(vars[k]);});\nif(!/<[a-z]/i.test(body)){body='<div style=\"font-family:Arial,sans-serif;font-size:14px;color:#222;line-height:1.8\">'+body.split('\\n').join('<br>')+'</div>';}\nreturn [{json:{...d,subject:subject,body:body}}];"
      }
    },
    {
      "id": "T5001",
      "name": "Read Tpl Confirm",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        950,
        2550
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Template"
        },
        "options": {
          "continueIfEmpty": true
        }
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "id": "T5002",
      "name": "Sub Confirm Vars",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        2550
      ],
      "parameters": {
        "jsCode": "var templates = $input.all().map(i => i.json);\nvar tpl = templates.find(t => t.template_name === 'customer_confirm') || {subject:'[GLS \u4f20\u8baf] Your meeting at {{event_name}} is confirmed',body:'Dear {{client_name}},\\n\\nYour meeting at {{event_name}} is confirmed!\\n\ud83d\udcc5 {{date}} {{time}}\\n\ud83d\udccd {{event_venue}}\\n\ud83e\udd1d {{salesperson_name}} ({{salesperson_email}})\\n\\nAdd to Calendar: {{cal_link}}\\n\\nGLS \u4f20\u8baf Team'};\nvar d = $node['Prep Assign'].json;\nvar settingsData = {};\ntry { var sr = await fetch('https://n8n.okahh.com/webhook/gls-settings'); settingsData = await sr.json(); } catch(e) {}\nvar evtName = settingsData.event_name || 'Air Cargo China 2026';\nvar evtDates = settingsData.event_dates || 'June 24\u201326, 2026';\nvar evtVenue = settingsData.event_venue || 'Shanghai New International Expo Centre';\nvar vars = {'{{client_name}}':d.client_name||'','{{date}}':d.date||'','{{time}}':d.time||'','{{salesperson_name}}':d.salesperson_name||'','{{salesperson_email}}':d.salesperson_email||'','{{cal_link}}':d.cal_link||'','{{company}}':d.company||'','{{unsubscribe_link}}':'https://n8n.okahh.com/webhook/gls-unsubscribe?email='+encodeURIComponent(d.client_email||''),'{{event_name}}':evtName,'{{event_dates}}':evtDates,'{{event_venue}}':evtVenue};\nvar subject = (tpl.subject||'').replace(/[\\r\\n]+/g,'').trim();\nvar body = (tpl.body||'').replace(/\\\\n/g,'\\n');\nObject.keys(vars).forEach(k=>{subject=subject.split(k).join(vars[k]);body=body.split(k).join(vars[k]);});\nif(!/<[a-z]/i.test(body)){body='<div style=\"font-family:Arial,sans-serif;font-size:14px;color:#222;line-height:1.8\">'+body.split('\\n').join('<br>')+'</div>';}\nreturn [{json:{...d,subject:subject,body:body}}];"
      }
    },
    {
      "id": "S1000001",
      "name": "Settings Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        4200
      ],
      "parameters": {
        "httpMethod": "GET",
        "path": "gls-settings",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "S1000002",
      "name": "Read Settings Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        500,
        4200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Settings"
        },
        "options": {
          "continueIfEmpty": true
        }
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "id": "S1000003",
      "name": "Format Settings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        4200
      ],
      "parameters": {
        "jsCode": "var rows = $input.all().map(function(i){return i.json;});\nvar s = rows[0] || {};\nreturn [{json:{event_name:s.event_name||'',event_dates:s.event_dates||'',event_venue:s.event_venue||''}}];"
      }
    },
    {
      "id": "S1000004",
      "name": "Respond Settings",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        4200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "S2000001",
      "name": "Save Settings Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        4400
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-save-settings",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "S2000002",
      "name": "Update Settings Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        500,
        4400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Settings"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "settings",
            "event_name": "={{ $json.body.event_name }}",
            "event_dates": "={{ $json.body.event_dates }}",
            "event_venue": "={{ $json.body.event_venue }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "event_name",
              "displayName": "event_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "event_dates",
              "displayName": "event_dates",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "event_venue",
              "displayName": "event_venue",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "id": "S2000003",
      "name": "Respond Save Settings",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        750,
        4400
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "DC1001",
      "name": "Delete Contact Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        4600
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-delete-contact",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "dc-webhook-001"
    },
    {
      "id": "DC1002",
      "name": "Mark Contact Deleted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        250,
        4600
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.body.email }}",
            "status": "={{ 'deleted' }}"
          },
          "matchingColumns": [
            "email"
          ],
          "attemptToConvertTypes": false
        },
        "options": {}
      }
    },
    {
      "id": "DC1003",
      "name": "Respond Delete Contact",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        500,
        4600
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "DB1001",
      "name": "Delete Booking Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        4800
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-delete-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "db-webhook-001"
    },
    {
      "id": "DB1002",
      "name": "Mark Booking Cancelled",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        250,
        4800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Booking"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.body.email }}",
            "booking_id": "={{ $json.body.booking_id }}",
            "status": "={{ 'deleted' }}"
          },
          "matchingColumns": [
            "booking_id"
          ],
          "attemptToConvertTypes": false
        },
        "options": {}
      }
    },
    {
      "id": "DB1003",
      "name": "Respond Delete Booking",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        500,
        4800
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "MB1001",
      "name": "Manual Booking Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        5600
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-manual-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "mb-webhook-001"
    },
    {
      "id": "MB1002",
      "name": "Read Slots For Manual",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        250,
        5600
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Slots"
        },
        "options": {}
      }
    },
    {
      "id": "MB1003",
      "name": "Prep Manual Booking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        5600
      ],
      "parameters": {
        "jsCode": "var wb=$('Manual Booking Webhook');\nvar body=wb.first().json.body||wb.first().json;\nvar slotId=String(body.slot_id||'');\nvar slots=$input.all().map(function(i){return i.json;});\nvar slot=slots.find(function(s){return String(s.Slot_Id||'')===slotId;});\nvar newCount=slot?parseInt(slot.booked_count||0)+1:1;\nvar cap=slot?parseInt(slot.capacity||1):1;\nvar newStatus=newCount>=cap?'booked':'available';\nvar date=String(body.date||''),time=String(body.time||'');\nvar dp=date.split('/'),tp=time.split(':'),calLink='';\nif(dp.length===3&&tp.length>=1){\n  var yr=dp[2],mo=dp[0].padStart(2,'0'),dy=dp[1].padStart(2,'0');\n  var h=parseInt(tp[0]||0),m=parseInt(tp[1]||0);\n  var s1=yr+mo+dy+'T'+String(h).padStart(2,'0')+String(m).padStart(2,'0')+'00';\n  var em=m+30,eh=h+Math.floor(em/60);em=em%60;\n  var s2=yr+mo+dy+'T'+String(eh).padStart(2,'0')+String(em).padStart(2,'0')+'00';\n  calLink='https://calendar.google.com/calendar/render?action=TEMPLATE&text=Meeting+with+GLS&dates='+s1+'/'+s2+'&location=Shanghai+New+International+Expo+Centre';\n}\nreturn [{json:{slot_Id:slotId,new_booked_count:String(newCount),new_slot_status:newStatus,date:date,time:time,client_name:String(body.name||''),email:String(body.email||'').toLowerCase().trim(),company:String(body.company||''),title:String(body.title||''),salesperson_name:String(body.salesperson_name||''),salesperson_email:String(body.salesperson_email||''),cal_link:calLink,booked_at:new Date().toISOString()}}];"
      }
    },
    {
      "id": "MB1004",
      "name": "Append Manual Booking",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        750,
        5600
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Booking"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "slot_Id": "={{ $json.slot_Id }}",
            "date": "={{ $json.date }}",
            "time": "={{ $json.time }}",
            "client_name": "={{ $json.client_name }}",
            "email": "={{ $json.email }}",
            "company": "={{ $json.company }}",
            "title": "={{ $json.title }}",
            "salesperson_name": "={{ $json.salesperson_name }}",
            "salesperson_email": "={{ $json.salesperson_email }}",
            "booked_at": "={{ $json.booked_at }}",
            "status": "={{ 'confirmed' }}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "MB1005",
      "name": "Update Slot Manual",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1000,
        5600
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Slots"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Slot_Id": "={{ $json.slot_Id }}",
            "booked_count": "={{ $json.new_booked_count }}",
            "Status": "={{ $json.new_slot_status }}"
          },
          "matchingColumns": [
            "Slot_Id"
          ],
          "attemptToConvertTypes": false
        },
        "options": {}
      }
    },
    {
      "id": "MB1006",
      "name": "Update Contact Manual",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1250,
        5600
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "status": "={{ 'booked' }}"
          },
          "matchingColumns": [
            "email"
          ],
          "attemptToConvertTypes": false
        },
        "options": {}
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "id": "MB1007",
      "name": "Respond Manual Booking",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2250,
        5600
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "MB1008",
      "name": "Read Tpl Manual",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1500,
        5600
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Template"
        },
        "options": {
          "continueIfEmpty": true
        }
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "id": "MB1009",
      "name": "Sub Manual Confirm Vars",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        5600
      ],
      "parameters": {
        "jsCode": "var templates = $input.all().map(i => i.json);\nvar tpl = templates.find(t => t.template_name === 'customer_confirm') || {subject:'[GLS \u4f20\u8baf] Your meeting at {{event_name}} is confirmed',body:'Dear {{name}},\\n\\nYour meeting at {{event_name}} is confirmed!\\n\ud83d\udcc5 {{date}} {{time}}\\n\ud83d\udccd {{event_venue}}\\n\ud83e\udd1d {{salesperson_name}} ({{salesperson_email}})\\n\\nAdd to Calendar: {{cal_link}}\\n\\nGLS \u4f20\u8baf Team'};\nvar d = $node['Prep Manual Booking'].json;\nvar settingsData = {};\ntry { var sr = await fetch('https://n8n.okahh.com/webhook/gls-settings'); settingsData = await sr.json(); } catch(e) {}\nvar evtName = settingsData.event_name || 'Air Cargo China 2026';\nvar evtDates = settingsData.event_dates || 'June 24\u201326, 2026';\nvar evtVenue = settingsData.event_venue || 'Shanghai New International Expo Centre';\nvar vars = {'{{name}}':d.client_name||'','{{client_name}}':d.client_name||'','{{date}}':d.date||'','{{time}}':d.time||'','{{salesperson_name}}':d.salesperson_name||'','{{salesperson_email}}':d.salesperson_email||'','{{cal_link}}':d.cal_link||'','{{company}}':d.company||'','{{unsubscribe_link}}':'https://n8n.okahh.com/webhook/gls-unsubscribe?email='+encodeURIComponent(d.email||''),'{{event_name}}':evtName,'{{event_dates}}':evtDates,'{{event_venue}}':evtVenue};\nvar subject = (tpl.subject||'').replace(/[\\r\\n]+/g,'').trim();\nvar body = (tpl.body||'').replace(/\\\\n/g,'\\n');\nObject.keys(vars).forEach(k=>{subject=subject.split(k).join(vars[k]);body=body.split(k).join(vars[k]);});\nif(!/<[a-z]/i.test(body)){body='<div style=\"font-family:Arial,sans-serif;font-size:14px;color:#222;line-height:1.8\">'+body.split('\\n').join('<br>')+'</div>';}\nreturn [{json:{to:d.email,subject:subject,body:body}}];"
      }
    },
    {
      "id": "MB1010",
      "name": "Send Manual Confirm Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        5600
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "N0PEoBiSaAobtA1x",
          "name": "Resend API"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "GLS \u4f20\u8baf <notifications@smartflowhk.com>"
            },
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "reply_to",
              "value": "marketing@glshk.com"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "CC1001",
      "name": "Cancel Confirmed Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        5800
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-cancel-confirmed",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "cc-webhook-001"
    },
    {
      "id": "CC1002",
      "name": "Read Slots For Cancel Confirmed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        250,
        5800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Slots"
        },
        "options": {}
      }
    },
    {
      "id": "CC1003",
      "name": "Prep Cancel Confirmed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        5800
      ],
      "parameters": {
        "jsCode": "var wb = $('Cancel Confirmed Webhook');\nvar body = wb.first().json.body || wb.first().json;\nvar slotId = String(body.slot_id || '');\nvar email = String(body.email || '');\nvar bookingId = String(body.booking_id || '');\nvar slots = $input.all().map(function(i){return i.json;});\nvar slot = slots.find(function(s){return String(s.Slot_Id||'')===slotId;});\nvar newCount = slot ? Math.max(0, parseInt(slot.booked_count||0)-1) : 0;\nreturn [{json:{slot_Id:slotId,email:email,booking_id:bookingId,new_booked_count:String(newCount),new_slot_status:'available'}}];"
      }
    },
    {
      "id": "CC1004",
      "name": "Update Confirmed Booking Cancelled",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        750,
        5800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Booking"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "booking_id": "={{ $json.booking_id }}",
            "status": "={{ 'cancelled' }}"
          },
          "matchingColumns": [
            "booking_id"
          ],
          "attemptToConvertTypes": false
        },
        "options": {}
      }
    },
    {
      "id": "CC1005",
      "name": "Update Slot After Cancel Confirmed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1000,
        5800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Slots"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Slot_Id": "={{ $json.slot_Id }}",
            "booked_count": "={{ $json.new_booked_count }}",
            "Status": "={{ $json.new_slot_status }}"
          },
          "matchingColumns": [
            "Slot_Id"
          ],
          "attemptToConvertTypes": false
        },
        "options": {}
      }
    },
    {
      "id": "CC1006",
      "name": "Respond Cancel Confirmed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1250,
        5800
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "RC1001",
      "name": "Reschedule Confirmed Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        6000
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-reschedule-confirmed",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "rc-webhook-001"
    },
    {
      "id": "RC1002",
      "name": "Read Slots For Reschedule Confirmed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        250,
        6000
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Slots"
        },
        "options": {}
      }
    },
    {
      "id": "RC1003",
      "name": "Prep Reschedule Confirmed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        6000
      ],
      "parameters": {
        "jsCode": "var wb = $('Reschedule Confirmed Webhook');\nvar body = wb.first().json.body || wb.first().json;\nvar oldSlotId = String(body.old_slot_id||'');\nvar newSlotId = String(body.new_slot_id||'');\nvar email = String(body.email||'');\nvar newDate = String(body.new_date||'');\nvar newTime = String(body.new_time||'');\nvar clientName = String(body.client_name||'');\nvar company = String(body.company||'');\nvar spName = String(body.salesperson_name||'');\nvar spEmail = String(body.salesperson_email||'');\nvar slots = $input.all().map(function(i){return i.json;});\nvar oldSlot = slots.find(function(s){return String(s.Slot_Id||'')===oldSlotId;});\nvar newSlot = slots.find(function(s){return String(s.Slot_Id||'')===newSlotId;});\nvar oldNewCount = oldSlot ? Math.max(0,parseInt(oldSlot.booked_count||0)-1) : 0;\nvar newBookCount = newSlot ? parseInt(newSlot.booked_count||0)+1 : 1;\nvar newCap = newSlot ? parseInt(newSlot.capacity||1) : 1;\nvar newSlotStatus = newBookCount >= newCap ? 'booked' : 'available';\nvar dp=newDate.split('/'),tp=newTime.split(':'),calLink='';\nif(dp.length===3&&tp.length>=1){var yr=dp[2],mo=dp[0].padStart(2,'0'),dy=dp[1].padStart(2,'0'),h=parseInt(tp[0]||0),m=parseInt(tp[1]||0),s1=yr+mo+dy+'T'+String(h).padStart(2,'0')+String(m).padStart(2,'0')+'00',em=m+30,eh=h+Math.floor(em/60);em=em%60;var s2=yr+mo+dy+'T'+String(eh).padStart(2,'0')+String(em).padStart(2,'0')+'00';calLink='https://calendar.google.com/calendar/render?action=TEMPLATE&text=Meeting+with+GLS&dates='+s1+'/'+s2+'&location=Shanghai+New+International+Expo+Centre';}\nreturn [{json:{old_slot_Id:oldSlotId,new_slot_Id:newSlotId,email:email,new_date:newDate,new_time:newTime,old_new_count:String(oldNewCount),new_count:String(newBookCount),new_slot_status:newSlotStatus,client_name:clientName,company:company,salesperson_name:spName,salesperson_email:spEmail,cal_link:calLink}}];"
      }
    },
    {
      "id": "RC1004",
      "name": "Update Booking Rescheduled Confirmed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        750,
        6000
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Booking"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "slot_Id": "={{ $json.new_slot_Id }}",
            "date": "={{ $json.new_date }}",
            "time": "={{ $json.new_time }}"
          },
          "matchingColumns": [
            "email"
          ],
          "attemptToConvertTypes": false
        },
        "options": {}
      }
    },
    {
      "id": "RC1005",
      "name": "Update Old Slot Reschedule Confirmed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1000,
        6000
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Slots"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Slot_Id": "={{ $json.old_slot_Id }}",
            "booked_count": "={{ $json.old_new_count }}",
            "Status": "={{ 'available' }}"
          },
          "matchingColumns": [
            "Slot_Id"
          ],
          "attemptToConvertTypes": false
        },
        "options": {}
      }
    },
    {
      "id": "RC1006",
      "name": "Update New Slot Reschedule Confirmed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1250,
        6000
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Slots"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Slot_Id": "={{ $json.new_slot_Id }}",
            "booked_count": "={{ $json.new_count }}",
            "Status": "={{ $json.new_slot_status }}"
          },
          "matchingColumns": [
            "Slot_Id"
          ],
          "attemptToConvertTypes": false
        },
        "options": {}
      }
    },
    {
      "id": "RC1007",
      "name": "Read Tpl Reschedule Confirm",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1500,
        6000
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Template"
        },
        "options": {
          "continueIfEmpty": true
        }
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "id": "RC1008",
      "name": "Sub Reschedule Confirm Vars",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        6000
      ],
      "parameters": {
        "jsCode": "var templates = $input.all().map(i => i.json);\nvar tpl = templates.find(t => t.template_name === 'customer_confirm') || {subject:'[GLS \u4f20\u8baf] Your meeting at {{event_name}} has been rescheduled',body:'Dear {{name}},\\n\\nYour meeting at {{event_name}} has been rescheduled.\\n\ud83d\udcc5 {{date}} {{time}}\\n\ud83d\udccd {{event_venue}}\\n\ud83e\udd1d {{salesperson_name}} ({{salesperson_email}})\\n\\nAdd to Calendar: {{cal_link}}\\n\\nGLS \u4f20\u8baf Team'};\nvar d = $node['Prep Reschedule Confirmed'].json;\nvar settingsData = {};\ntry { var sr = await fetch('https://n8n.okahh.com/webhook/gls-settings'); settingsData = await sr.json(); } catch(e) {}\nvar evtName = settingsData.event_name || 'Air Cargo China 2026';\nvar evtDates = settingsData.event_dates || 'June 24\u201326, 2026';\nvar evtVenue = settingsData.event_venue || 'Shanghai New International Expo Centre';\nvar vars = {'{{name}}':d.client_name||'','{{client_name}}':d.client_name||'','{{date}}':d.new_date||'','{{time}}':d.new_time||'','{{salesperson_name}}':d.salesperson_name||'','{{salesperson_email}}':d.salesperson_email||'','{{cal_link}}':d.cal_link||'','{{company}}':d.company||'','{{unsubscribe_link}}':'https://n8n.okahh.com/webhook/gls-unsubscribe?email='+encodeURIComponent(d.email||''),'{{event_name}}':evtName,'{{event_dates}}':evtDates,'{{event_venue}}':evtVenue};\nvar subject = (tpl.subject||'').replace(/[\\r\\n]+/g,'').trim();\nvar body = (tpl.body||'').replace(/\\\\n/g,'\\n');\nObject.keys(vars).forEach(k=>{subject=subject.split(k).join(vars[k]);body=body.split(k).join(vars[k]);});\nif(!/<[a-z]/i.test(body)){body='<div style=\"font-family:Arial,sans-serif;font-size:14px;color:#222;line-height:1.8\">'+body.split('\\n').join('<br>')+'</div>';}\nreturn [{json:{to:d.email,subject:subject,body:body}}];"
      }
    },
    {
      "id": "RC1009",
      "name": "Send Reschedule Confirm Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        6000
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "N0PEoBiSaAobtA1x",
          "name": "Resend API"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "GLS \u4f20\u8baf <notifications@smartflowhk.com>"
            },
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "reply_to",
              "value": "marketing@glshk.com"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "RC1010",
      "name": "Respond Reschedule Confirmed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2250,
        6000
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "CS1001",
      "name": "Change SP Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        6200
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-change-sp",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "cs-webhook-001"
    },
    {
      "id": "CS1002",
      "name": "Prep Change SP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        6200
      ],
      "parameters": {
        "jsCode": "var wb = $('Change SP Webhook');\nvar body = wb.first().json.body || wb.first().json;\nreturn [{json:{slot_Id:String(body.slot_id||''),email:String(body.email||''),client_name:String(body.client_name||''),company:String(body.company||''),date:String(body.date||''),time:String(body.time||''),salesperson_name:String(body.salesperson_name||''),salesperson_email:String(body.salesperson_email||'')}}];"
      }
    },
    {
      "id": "CS1003",
      "name": "Update Booking Change SP",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        500,
        6200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Booking"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "salesperson_name": "={{ $json.salesperson_name }}",
            "salesperson_email": "={{ $json.salesperson_email }}"
          },
          "matchingColumns": [
            "email"
          ],
          "attemptToConvertTypes": false
        },
        "options": {}
      }
    },
    {
      "id": "CS1004",
      "name": "Read Tpl Change SP",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        750,
        6200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Template"
        },
        "options": {
          "continueIfEmpty": true
        }
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "id": "CS1005",
      "name": "Sub Change SP Vars",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        6200
      ],
      "parameters": {
        "jsCode": "var templates = $input.all().map(i => i.json);\nvar tpl = templates.find(t => t.template_name === 'sp_confirm') || {subject:'[GLS \u4f20\u8baf] Meeting assignment updated at {{event_name}}',body:'Dear {{salesperson_name}},\\n\\nYou have been assigned a meeting at {{event_name}}:\\n\ud83d\udc64 {{client_name}} ({{company}})\\n\ud83d\udcc5 {{date}} {{time}}\\n\ud83d\udccd {{event_venue}}\\n\\nGLS \u4f20\u8baf Team'};\nvar d = $node['Prep Change SP'].json;\nvar settingsData = {};\ntry { var sr = await fetch('https://n8n.okahh.com/webhook/gls-settings'); settingsData = await sr.json(); } catch(e) {}\nvar evtName = settingsData.event_name || 'Air Cargo China 2026';\nvar evtDates = settingsData.event_dates || 'June 24\u201326, 2026';\nvar evtVenue = settingsData.event_venue || 'Shanghai New International Expo Centre';\nvar vars = {'{{salesperson_name}}':d.salesperson_name||'','{{client_name}}':d.client_name||'','{{company}}':d.company||'','{{client_email}}':d.email||'','{{date}}':d.date||'','{{time}}':d.time||'','{{event_name}}':evtName,'{{event_dates}}':evtDates,'{{event_venue}}':evtVenue};\nvar subject = (tpl.subject||'').replace(/[\\r\\n]+/g,'').trim();\nvar body = (tpl.body||'').replace(/\\\\n/g,'\\n');\nObject.keys(vars).forEach(k=>{subject=subject.split(k).join(vars[k]);body=body.split(k).join(vars[k]);});\nif(!/<[a-z]/i.test(body)){body='<div style=\"font-family:Arial,sans-serif;font-size:14px;color:#222;line-height:1.8\">'+body.split('\\n').join('<br>')+'</div>';}\nreturn [{json:{to:d.salesperson_email,subject:subject,body:body}}];"
      }
    },
    {
      "id": "CS1006",
      "name": "Send Change SP Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        6200
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "N0PEoBiSaAobtA1x",
          "name": "Resend API"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "GLS \u4f20\u8baf <notifications@smartflowhk.com>"
            },
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "reply_to",
              "value": "marketing@glshk.com"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "CS1007",
      "name": "Respond Change SP",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1500,
        6200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "CP1001",
      "name": "Cancel Pending Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        5200
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-cancel-pending",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "cp-webhook-001"
    },
    {
      "id": "CP1002",
      "name": "Read Slots For Cancel",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        250,
        5200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Slots"
        },
        "options": {}
      }
    },
    {
      "id": "CP1003",
      "name": "Prep Cancel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        5200
      ],
      "parameters": {
        "jsCode": "var wb = $('Cancel Pending Webhook');\nvar body = wb.first().json.body || wb.first().json;\nvar slotId = String(body.slot_id || '');\nvar email = String(body.email || '');\nvar bookingId = String(body.booking_id || '');\nvar slots = $input.all().map(function(i){return i.json;});\nvar slot = slots.find(function(s){return String(s.Slot_Id||'')===slotId;});\nvar newCount = slot ? Math.max(0, parseInt(slot.booked_count||0)-1) : 0;\nreturn [{json:{slot_Id:slotId,email:email,booking_id:bookingId,new_booked_count:String(newCount),new_slot_status:'available'}}];"
      }
    },
    {
      "id": "CP1004",
      "name": "Update Booking Cancelled",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        750,
        5200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Booking"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "booking_id": "={{ $json.booking_id }}",
            "status": "={{ 'cancelled' }}"
          },
          "matchingColumns": [
            "booking_id"
          ],
          "attemptToConvertTypes": false
        },
        "options": {}
      }
    },
    {
      "id": "CP1005",
      "name": "Update Slot After Cancel",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1000,
        5200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Slots"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Slot_Id": "={{ $json.slot_Id }}",
            "booked_count": "={{ $json.new_booked_count }}",
            "Status": "={{ $json.new_slot_status }}"
          },
          "matchingColumns": [
            "Slot_Id"
          ],
          "attemptToConvertTypes": false
        },
        "options": {}
      }
    },
    {
      "id": "CP1006",
      "name": "Respond Cancel Pending",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1250,
        5200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "RS1001",
      "name": "Reschedule Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        5400
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-reschedule-pending",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "rs-webhook-001"
    },
    {
      "id": "RS1002",
      "name": "Read Slots For Reschedule",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        250,
        5400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Slots"
        },
        "options": {}
      }
    },
    {
      "id": "RS1003",
      "name": "Prep Reschedule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        5400
      ],
      "parameters": {
        "jsCode": "var wb = $('Reschedule Webhook');\nvar body = wb.first().json.body || wb.first().json;\nvar oldSlotId = String(body.old_slot_id||'');\nvar newSlotId = String(body.new_slot_id||'');\nvar email = String(body.email||'');\nvar newDate = String(body.new_date||'');\nvar newTime = String(body.new_time||'');\nvar slots = $input.all().map(function(i){return i.json;});\nvar oldSlot = slots.find(function(s){return String(s.Slot_Id||'')===oldSlotId;});\nvar newSlot = slots.find(function(s){return String(s.Slot_Id||'')===newSlotId;});\nvar oldNewCount = oldSlot ? Math.max(0,parseInt(oldSlot.booked_count||0)-1) : 0;\nvar newBookCount = newSlot ? parseInt(newSlot.booked_count||0)+1 : 1;\nvar newCap = newSlot ? parseInt(newSlot.capacity||1) : 1;\nvar newSlotStatus = newBookCount >= newCap ? 'booked' : 'available';\nreturn [{json:{old_slot_Id:oldSlotId,new_slot_Id:newSlotId,email:email,new_date:newDate,new_time:newTime,old_new_count:String(oldNewCount),new_count:String(newBookCount),new_slot_status:newSlotStatus}}];"
      }
    },
    {
      "id": "RS1004",
      "name": "Update Booking Rescheduled",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        750,
        5400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Booking"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "slot_Id": "={{ $json.new_slot_Id }}",
            "date": "={{ $json.new_date }}",
            "time": "={{ $json.new_time }}"
          },
          "matchingColumns": [
            "email"
          ],
          "attemptToConvertTypes": false
        },
        "options": {}
      }
    },
    {
      "id": "RS1005",
      "name": "Update Old Slot After Reschedule",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1000,
        5400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Slots"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Slot_Id": "={{ $json.old_slot_Id }}",
            "booked_count": "={{ $json.old_new_count }}",
            "Status": "={{ 'available' }}"
          },
          "matchingColumns": [
            "Slot_Id"
          ],
          "attemptToConvertTypes": false
        },
        "options": {}
      }
    },
    {
      "id": "RS1006",
      "name": "Update New Slot After Reschedule",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1250,
        5400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Slots"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Slot_Id": "={{ $json.new_slot_Id }}",
            "booked_count": "={{ $json.new_count }}",
            "Status": "={{ $json.new_slot_status }}"
          },
          "matchingColumns": [
            "Slot_Id"
          ],
          "attemptToConvertTypes": false
        },
        "options": {}
      }
    },
    {
      "id": "RS1007",
      "name": "Respond Reschedule",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1500,
        5400
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "DT1001",
      "name": "Delete Template Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        5000
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-delete-template",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "dt-webhook-001"
    },
    {
      "id": "DT1002",
      "name": "Mark Template Deleted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        250,
        5000
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Template"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "template_name": "={{ $json.body.template_name }}",
            "subject": "=__deleted__"
          },
          "matchingColumns": [
            "template_name"
          ],
          "attemptToConvertTypes": false
        },
        "options": {}
      }
    },
    {
      "id": "DT1003",
      "name": "Respond Delete Template",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        500,
        5000
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "TNL001",
      "name": "IF New Template",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        220,
        3060
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "tpl-new-cond",
              "leftValue": "={{ $json.body.is_new }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "rightValue": ""
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "TNL002",
      "name": "Append New Template",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        440,
        2980
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Template"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "template_name": "={{ $json.body.template_name }}",
            "subject": "={{ $json.body.subject }}",
            "body": "={{ $json.body.body }}"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Slots Webhook": {
      "main": [
        [
          {
            "node": "Read Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Slots": {
      "main": [
        [
          {
            "node": "Format Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slots": {
      "main": [
        [
          {
            "node": "Respond Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contacts Webhook": {
      "main": [
        [
          {
            "node": "Read Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Contacts": {
      "main": [
        [
          {
            "node": "Format Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Contacts": {
      "main": [
        [
          {
            "node": "Respond Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Contact Webhook": {
      "main": [
        [
          {
            "node": "Prep Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Contact": {
      "main": [
        [
          {
            "node": "Append Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Contact": {
      "main": [
        [
          {
            "node": "Respond Add Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invite Webhook": {
      "main": [
        [
          {
            "node": "Prep Invite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Invite": {
      "main": [
        [
          {
            "node": "Read Tpl Invite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tpl Invite": {
      "main": [
        [
          {
            "node": "Sub Invite Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sub Invite Vars": {
      "main": [
        [
          {
            "node": "Send Invite Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Invite Email": {
      "main": [
        [
          {
            "node": "Mark Invite Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Invite Sent": {
      "main": [
        [
          {
            "node": "Update Contact Invited",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact Invited": {
      "main": [
        [
          {
            "node": "Respond Invite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invite All Webhook": {
      "main": [
        [
          {
            "node": "Read Contacts All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Contacts All": {
      "main": [
        [
          {
            "node": "Filter Uninvited",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Uninvited": {
      "main": [
        [
          {
            "node": "IF Has Uninvited",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Uninvited": {
      "main": [
        [
          {
            "node": "Respond Sending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond None",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Sending": {
      "main": [
        [
          {
            "node": "Read Tpl Bulk Invite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tpl Bulk Invite": {
      "main": [
        [
          {
            "node": "Prep Bulk Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Bulk Emails": {
      "main": [
        [
          {
            "node": "Send All Invites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send All Invites": {
      "main": [
        [
          {
            "node": "Mark All Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark All Sent": {
      "main": [
        [
          {
            "node": "Update All Invited",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remind Webhook": {
      "main": [
        [
          {
            "node": "Prep Remind",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Remind": {
      "main": [
        [
          {
            "node": "Read Tpl Remind",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tpl Remind": {
      "main": [
        [
          {
            "node": "Sub Remind Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sub Remind Vars": {
      "main": [
        [
          {
            "node": "Send Remind Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Remind Email": {
      "main": [
        [
          {
            "node": "Respond Remind",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pending Webhook": {
      "main": [
        [
          {
            "node": "Read Bookings Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Bookings Pending": {
      "main": [
        [
          {
            "node": "Format Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Pending": {
      "main": [
        [
          {
            "node": "Respond Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Webhook": {
      "main": [
        [
          {
            "node": "Prep Assign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Assign": {
      "main": [
        [
          {
            "node": "Update Booking Assigned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Booking Assigned": {
      "main": [
        [
          {
            "node": "Read Tpl SP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tpl SP": {
      "main": [
        [
          {
            "node": "Sub SP Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sub SP Vars": {
      "main": [
        [
          {
            "node": "Send SP Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SP Email": {
      "main": [
        [
          {
            "node": "Read Tpl Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tpl Confirm": {
      "main": [
        [
          {
            "node": "Sub Confirm Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sub Confirm Vars": {
      "main": [
        [
          {
            "node": "Send Customer Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Customer Confirm": {
      "main": [
        [
          {
            "node": "Respond Assign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bookings Webhook": {
      "main": [
        [
          {
            "node": "Read All Bookings JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Bookings JSON": {
      "main": [
        [
          {
            "node": "Format All Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format All Bookings": {
      "main": [
        [
          {
            "node": "Respond Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Templates Webhook": {
      "main": [
        [
          {
            "node": "Read Templates Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Templates Sheet": {
      "main": [
        [
          {
            "node": "Respond Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Template Webhook": {
      "main": [
        [
          {
            "node": "IF New Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Template Sheet": {
      "main": [
        [
          {
            "node": "Respond Save Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendGrid Events Webhook": {
      "main": [
        [
          {
            "node": "Process SG Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process SG Events": {
      "main": [
        [
          {
            "node": "Update Contact Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact Status": {
      "main": [
        [
          {
            "node": "Respond SG Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Staff Webhook": {
      "main": [
        [
          {
            "node": "Read Staff Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Staff Sheet": {
      "main": [
        [
          {
            "node": "Respond Staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Upload Webhook": {
      "main": [
        [
          {
            "node": "GitHub Upload Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Upload Code": {
      "main": [
        [
          {
            "node": "Respond Image Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unsubscribe Webhook": {
      "main": [
        [
          {
            "node": "Update Unsubscribe Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Unsubscribe Status": {
      "main": [
        [
          {
            "node": "Respond Unsubscribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings Webhook": {
      "main": [
        [
          {
            "node": "Read Settings Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Settings Sheet": {
      "main": [
        [
          {
            "node": "Format Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Settings": {
      "main": [
        [
          {
            "node": "Respond Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Settings Webhook": {
      "main": [
        [
          {
            "node": "Update Settings Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Settings Sheet": {
      "main": [
        [
          {
            "node": "Respond Save Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Booking Webhook": {
      "main": [
        [
          {
            "node": "Read Slots For Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Slots For Manual": {
      "main": [
        [
          {
            "node": "Prep Manual Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Manual Booking": {
      "main": [
        [
          {
            "node": "Append Manual Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Manual Booking": {
      "main": [
        [
          {
            "node": "Update Slot Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Slot Manual": {
      "main": [
        [
          {
            "node": "Update Contact Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact Manual": {
      "main": [
        [
          {
            "node": "Read Tpl Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tpl Manual": {
      "main": [
        [
          {
            "node": "Sub Manual Confirm Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sub Manual Confirm Vars": {
      "main": [
        [
          {
            "node": "Send Manual Confirm Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Manual Confirm Email": {
      "main": [
        [
          {
            "node": "Respond Manual Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Pending Webhook": {
      "main": [
        [
          {
            "node": "Read Slots For Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Slots For Cancel": {
      "main": [
        [
          {
            "node": "Prep Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Cancel": {
      "main": [
        [
          {
            "node": "Update Booking Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Booking Cancelled": {
      "main": [
        [
          {
            "node": "Update Slot After Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Slot After Cancel": {
      "main": [
        [
          {
            "node": "Respond Cancel Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reschedule Webhook": {
      "main": [
        [
          {
            "node": "Read Slots For Reschedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Slots For Reschedule": {
      "main": [
        [
          {
            "node": "Prep Reschedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Reschedule": {
      "main": [
        [
          {
            "node": "Update Booking Rescheduled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Booking Rescheduled": {
      "main": [
        [
          {
            "node": "Update Old Slot After Reschedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Old Slot After Reschedule": {
      "main": [
        [
          {
            "node": "Update New Slot After Reschedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update New Slot After Reschedule": {
      "main": [
        [
          {
            "node": "Respond Reschedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Contact Webhook": {
      "main": [
        [
          {
            "node": "Mark Contact Deleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Contact Deleted": {
      "main": [
        [
          {
            "node": "Respond Delete Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Booking Webhook": {
      "main": [
        [
          {
            "node": "Mark Booking Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Booking Cancelled": {
      "main": [
        [
          {
            "node": "Respond Delete Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Template Webhook": {
      "main": [
        [
          {
            "node": "Mark Template Deleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Template Deleted": {
      "main": [
        [
          {
            "node": "Respond Delete Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Confirmed Webhook": {
      "main": [
        [
          {
            "node": "Read Slots For Cancel Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Slots For Cancel Confirmed": {
      "main": [
        [
          {
            "node": "Prep Cancel Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Cancel Confirmed": {
      "main": [
        [
          {
            "node": "Update Confirmed Booking Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Confirmed Booking Cancelled": {
      "main": [
        [
          {
            "node": "Update Slot After Cancel Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Slot After Cancel Confirmed": {
      "main": [
        [
          {
            "node": "Respond Cancel Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reschedule Confirmed Webhook": {
      "main": [
        [
          {
            "node": "Read Slots For Reschedule Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Slots For Reschedule Confirmed": {
      "main": [
        [
          {
            "node": "Prep Reschedule Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Reschedule Confirmed": {
      "main": [
        [
          {
            "node": "Update Booking Rescheduled Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Booking Rescheduled Confirmed": {
      "main": [
        [
          {
            "node": "Update Old Slot Reschedule Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Old Slot Reschedule Confirmed": {
      "main": [
        [
          {
            "node": "Update New Slot Reschedule Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update New Slot Reschedule Confirmed": {
      "main": [
        [
          {
            "node": "Read Tpl Reschedule Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tpl Reschedule Confirm": {
      "main": [
        [
          {
            "node": "Sub Reschedule Confirm Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sub Reschedule Confirm Vars": {
      "main": [
        [
          {
            "node": "Send Reschedule Confirm Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reschedule Confirm Email": {
      "main": [
        [
          {
            "node": "Respond Reschedule Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change SP Webhook": {
      "main": [
        [
          {
            "node": "Prep Change SP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Change SP": {
      "main": [
        [
          {
            "node": "Update Booking Change SP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Booking Change SP": {
      "main": [
        [
          {
            "node": "Read Tpl Change SP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tpl Change SP": {
      "main": [
        [
          {
            "node": "Sub Change SP Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sub Change SP Vars": {
      "main": [
        [
          {
            "node": "Send Change SP Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Change SP Email": {
      "main": [
        [
          {
            "node": "Respond Change SP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF New Template": {
      "main": [
        [
          {
            "node": "Append New Template",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Template Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append New Template": {
      "main": [
        [
          {
            "node": "Respond Save Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "gls-dashboard-api-v1",
  "meta": {
    "instanceId": "f46520974004fbdd26797e65a10feedff5b3e19c804b73bcd97f01b2e649364f"
  },
  "id": "GLSDashboardAPI001",
  "tags": []
}