n8n-workflow-scanner.json
{
  "name": "GLS Card Scanner",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-scan-ocr",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "s1000001-s100-s100-s100-s10000000001",
      "name": "Scan OCR Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        100
      ],
      "webhookId": "s2000001-s200-s200-s200-s20000000001"
    },
    {
      "parameters": {
        "jsCode": "var body = $input.first().json.body || $input.first().json;\nvar image = body.image || '';\nvar mimeType = body.mimeType || 'image/jpeg';\nreturn [{\n  json: {\n    model: 'claude-haiku-4-5-20251001',\n    max_tokens: 600,\n    messages: [{\n      role: 'user',\n      content: [\n        {\n          type: 'image',\n          source: {\n            type: 'base64',\n            media_type: mimeType,\n            data: image\n          }\n        },\n        {\n          type: 'text',\n          text: 'Extract all contact information from this business card image. Return ONLY a valid JSON object with exactly these fields (use empty string if a field is not present on the card): name, company, title, email, phone, mobile, address, website. No explanation, no markdown, just the raw JSON object.'\n        }\n      ]\n    }]\n  }\n}];"
      },
      "id": "s1000002-s100-s100-s100-s10000000002",
      "name": "Build Anthropic Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "s1000003-s100-s100-s100-s10000000003",
      "name": "Call Anthropic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "var text = (($input.first().json.content || [{}])[0].text || '').trim();\n// Strip markdown code fences if present\ntext = text.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\nvar parsed = {};\ntry { parsed = JSON.parse(text); } catch(e) { parsed = {}; }\nreturn [{ json: parsed }];"
      },
      "id": "s1000004-s100-s100-s100-s10000000004",
      "name": "Parse OCR Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "s1000005-s100-s100-s100-s10000000005",
      "name": "Respond OCR",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        100
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-scan-submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "s2000001-s200-s200-s200-s20000000001",
      "name": "Scan Submit Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        400
      ],
      "webhookId": "s3000001-s300-s300-s300-s30000000001"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Cards"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "scanned_by": "={{ $json.scanned_by }}",
            "name": "={{ $json.name }}",
            "company": "={{ $json.company }}",
            "title": "={{ $json.title }}",
            "email": "={{ $json.email }}",
            "phone": "={{ $json.phone }}",
            "mobile": "={{ $json.mobile }}",
            "address": "={{ $json.address }}",
            "website": "={{ $json.website }}"
          }
        },
        "options": {}
      },
      "id": "s2000002-s200-s200-s200-s20000000002",
      "name": "Append Card to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        450,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\":true}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "s2000003-s200-s200-s200-s20000000003",
      "name": "Respond Submit",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        400
      ]
    }
  ],
  "connections": {
    "Scan OCR Webhook": {
      "main": [
        [
          {
            "node": "Build Anthropic Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Anthropic Body": {
      "main": [
        [
          {
            "node": "Call Anthropic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Anthropic": {
      "main": [
        [
          {
            "node": "Parse OCR Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OCR Result": {
      "main": [
        [
          {
            "node": "Respond OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Submit Webhook": {
      "main": [
        [
          {
            "node": "Append Card to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Card to Sheet": {
      "main": [
        [
          {
            "node": "Respond Submit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}