n8n-workflow-scanner.json
{
  "name": "GLS Card Scanner",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-scan-ocr",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "s1000001-s100-s100-s100-s10000000001",
      "name": "Scan OCR Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 100],
      "webhookId": "s2000001-s200-s200-s200-s20000000001"
    },
    {
      "parameters": {
        "jsCode": "var https = require('https');\nvar body = $input.first().json;\nvar image = body.image || '';\nvar mimeType = body.mimeType || 'image/jpeg';\nvar apiKey = process.env.ANTHROPIC_API_KEY || '';\n\nvar payload = {\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 600,\n  messages: [{\n    role: 'user',\n    content: [\n      { type: 'image', source: { type: 'base64', media_type: mimeType, data: image } },\n      { type: 'text', text: 'Extract all contact information from this business card image. Return ONLY a valid JSON object with exactly these fields (use empty string if not present): name, company, title, email, phone, mobile, address, website. No explanation, no markdown, just the JSON.' }\n    ]\n  }]\n};\n\nvar payloadStr = JSON.stringify(payload);\n\nvar result = await new Promise(function(resolve, reject) {\n  var opts = {\n    hostname: 'api.anthropic.com',\n    path: '/v1/messages',\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'x-api-key': apiKey,\n      'anthropic-version': '2023-06-01',\n      'Content-Length': Buffer.byteLength(payloadStr)\n    }\n  };\n  var req = https.request(opts, function(res) {\n    var chunks = [];\n    res.on('data', function(c) { chunks.push(c); });\n    res.on('end', function() {\n      try { resolve(JSON.parse(Buffer.concat(chunks).toString())); }\n      catch(e) { reject(new Error('Parse error: ' + e.message)); }\n    });\n  });\n  req.on('error', reject);\n  req.write(payloadStr);\n  req.end();\n});\n\nvar text = ((result.content || [{}])[0].text || '').trim();\ntext = text.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\nvar contact = {};\ntry { contact = JSON.parse(text); } catch(e) {}\nreturn [{ json: contact }];"
      },
      "id": "s1000002-s100-s100-s100-s10000000002",
      "name": "Call Anthropic OCR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "s1000005-s100-s100-s100-s10000000005",
      "name": "Respond OCR",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 100]
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-scan-submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "s2000001-s200-s200-s200-s20000000001",
      "name": "Scan Submit Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 400],
      "webhookId": "s3000001-s300-s300-s300-s30000000001"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Cards"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp":  "={{ $json.timestamp }}",
            "scanned_by": "={{ $json.scanned_by }}",
            "name":       "={{ $json.name }}",
            "company":    "={{ $json.company }}",
            "title":      "={{ $json.title }}",
            "email":      "={{ $json.email }}",
            "phone":      "={{ $json.phone }}",
            "mobile":     "={{ $json.mobile }}",
            "address":    "={{ $json.address }}",
            "website":    "={{ $json.website }}"
          }
        },
        "options": {}
      },
      "id": "s2000002-s200-s200-s200-s20000000002",
      "name": "Append Card to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\":true}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "s2000003-s200-s200-s200-s20000000003",
      "name": "Respond Submit",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 400]
    }
  ],
  "connections": {
    "Scan OCR Webhook": {
      "main": [[{"node": "Call Anthropic OCR", "type": "main", "index": 0}]]
    },
    "Call Anthropic OCR": {
      "main": [[{"node": "Respond OCR", "type": "main", "index": 0}]]
    },
    "Scan Submit Webhook": {
      "main": [[{"node": "Append Card to Sheet", "type": "main", "index": 0}]]
    },
    "Append Card to Sheet": {
      "main": [[{"node": "Respond Submit", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
