n8n-workflow-dashboard-api.json
{
  "name": "GLS Dashboard API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "gls-slots",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1000001-a100-a100-a100-a10000000001",
      "name": "Slots Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        100
      ],
      "webhookId": "b1000001-b100-b100-b100-b10000000001"
    },
    {
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Slots"
        },
        "options": {}
      },
      "id": "a1000002-a100-a100-a100-a10000000002",
      "name": "Read Slots",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        450,
        100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var slots = $input.all().map(function(i){return i.json;});\nvar available = slots.filter(function(s){return String(s.Status||'').toLowerCase()==='available';});\nreturn [{json:{slots:available,count:available.length}}];"
      },
      "id": "a1000003-a100-a100-a100-a10000000003",
      "name": "Format Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a1000004-a100-a100-a100-a10000000004",
      "name": "Respond Slots",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        950,
        100
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "gls-contacts",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a2000001-a200-a200-a200-a20000000001",
      "name": "Contacts Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        400
      ],
      "webhookId": "b2000001-b200-b200-b200-b20000000001"
    },
    {
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Contacts"
        },
        "options": {}
      },
      "id": "a2000002-a200-a200-a200-a20000000002",
      "name": "Read Contacts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        450,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var contacts = $input.all().map(function(i){return i.json;});\nreturn [{json:{contacts:contacts,count:contacts.length}}];"
      },
      "id": "a2000003-a200-a200-a200-a20000000003",
      "name": "Format Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a2000004-a200-a200-a200-a20000000004",
      "name": "Respond Contacts",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        950,
        400
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-add-contact",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a3000001-a300-a300-a300-a30000000001",
      "name": "Add Contact Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        700
      ],
      "webhookId": "b3000001-b300-b300-b300-b30000000001"
    },
    {
      "parameters": {
        "jsCode": "var body = $input.first().json.body || $input.first().json;\nvar now = new Date().toISOString();\nreturn [{json:{\n  email: String(body.email||'').toLowerCase().trim(),\n  name: body.name||'',\n  company: body.company||'',\n  title: body.title||'',\n  invite_sent: 'no',\n  invite_sent_at: '',\n  opened: 'no',\n  booked: 'no',\n  notes: body.notes||'',\n  created_at: now\n}}];"
      },
      "id": "a3000002-a300-a300-a300-a30000000002",
      "name": "Prep Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        700
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "name": "={{ $json.name }}",
            "company": "={{ $json.company }}",
            "title": "={{ $json.title }}",
            "invite_sent": "={{ $json.invite_sent }}",
            "invite_sent_at": "={{ $json.invite_sent_at }}",
            "opened": "={{ $json.opened }}",
            "booked": "={{ $json.booked }}",
            "notes": "={{ $json.notes }}",
            "created_at": "={{ $json.created_at }}"
          }
        },
        "options": {}
      },
      "id": "a3000003-a300-a300-a300-a30000000003",
      "name": "Append Contact",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        700,
        700
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success:true,email:$json.email}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a3000004-a300-a300-a300-a30000000004",
      "name": "Respond Add Contact",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        950,
        700
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-invite",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a4000001-a400-a400-a400-a40000000001",
      "name": "Invite Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        1000
      ],
      "webhookId": "b4000001-b400-b400-b400-b40000000001"
    },
    {
      "parameters": {
        "jsCode": "var body = $input.first().json.body || $input.first().json;\nreturn [{json:{email:body.email,name:body.name||body.email,company:body.company||''}}];"
      },
      "id": "a4000002-a400-a400-a400-a40000000002",
      "name": "Prep Invite",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        1000
      ]
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "marketing@glshk.com",
        "fromName": "Kitty Wong",
        "toEmail": "={{ $json.email }}",
        "subject": "GLS \u4f20\u8baf invites you \u2014 Air Cargo China 2026 \u4e9a\u6d32\u822a\u7a7a\u8d27\u8fd0\u5c55\u89c8\u4f1a",
        "contentValue": "=Dear {{ $json.name }},\n\nGLS \u4f20\u8baf (\u9999\u6e2f\u5168\u7403\u7269\u6d41\u670d\u52a1\u4e2d\u5fc3) would like to invite you to meet our team at Air Cargo China 2026.\n\n\ud83d\udcc5 June 24\u201326, 2026\n\ud83d\udccd Shanghai New International Expo Centre (\u4e0a\u6d77\u65b0\u56fd\u9645\u535a\u89c8\u4e2d\u5fc3)\n\nSpaces are limited. Click below to book your meeting slot now:\nhttps://jolly-bunny-04d897.netlify.app/\n\n\u6211\u4eec\u671f\u5f85\u4e0e\u60a8\u4f1a\u9762\uff01We look forward to meeting you!\n\nGLS \u4f20\u8baf Team\nmarketing@glshk.com",
        "additionalFields": {}
      },
      "id": "a4000003-a400-a400-a400-a40000000003",
      "name": "Send Invite Email",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        700,
        1000
      ],
      "credentials": {
        "sendGridApi": {
          "id": "rrjx8UnEzsCE8Ok3",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var item = $input.first().json;\nvar email = item.toEmail || item.email || '';\nreturn [{json:{email:email,invite_sent:'yes',invite_sent_at:new Date().toISOString()}}];"
      },
      "id": "a4000004-a400-a400-a400-a40000000004",
      "name": "Mark Invite Sent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invite_sent": "={{ $json.invite_sent }}",
            "invite_sent_at": "={{ $json.invite_sent_at }}",
            "email": "={{ $json.email }}"
          },
          "matchingColumns": [
            "email"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a4000005-a400-a400-a400-a40000000005",
      "name": "Update Contact Invited",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1200,
        1000
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success:true,email:$json.email}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a4000006-a400-a400-a400-a40000000006",
      "name": "Respond Invite",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1450,
        1000
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-invite-all",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a5000001-a500-a500-a500-a50000000001",
      "name": "Invite All Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        1300
      ],
      "webhookId": "b5000001-b500-b500-b500-b50000000001"
    },
    {
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Contacts"
        },
        "options": {}
      },
      "id": "a5000002-a500-a500-a500-a50000000002",
      "name": "Read Contacts All",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        450,
        1300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var contacts = $input.all().map(function(i){return i.json;});\nvar uninvited = contacts.filter(function(c){\n  return !c.invite_sent || c.invite_sent==='no' || c.invite_sent==='';\n});\nreturn [{json:{contacts:uninvited,count:uninvited.length}}];"
      },
      "id": "a5000003-a500-a500-a500-a50000000003",
      "name": "Filter Uninvited",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        1300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-5001",
              "leftValue": "={{ $json.count }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "rightValue": 0
            }
          ]
        },
        "options": {}
      },
      "id": "a5000004-a500-a500-a500-a50000000004",
      "name": "IF Has Uninvited",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        950,
        1300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success:true,sent:0,message:'No contacts to invite'}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a5000005-a500-a500-a500-a50000000005",
      "name": "Respond None",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        1500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success:true,sent:$json.count,status:'processing'}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a5000006-a500-a500-a500-a50000000006",
      "name": "Respond Sending",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        1100
      ]
    },
    {
      "parameters": {
        "jsCode": "return $json.contacts.map(function(c){return {json:c};});"
      },
      "id": "a5000007-a500-a500-a500-a50000000007",
      "name": "Expand Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        1100
      ]
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "marketing@glshk.com",
        "fromName": "Kitty Wong",
        "toEmail": "={{ $json.email }}",
        "subject": "GLS \u4f20\u8baf invites you \u2014 Air Cargo China 2026",
        "contentValue": "=Dear {{ $json.name }},\n\nGLS \u4f20\u8baf (\u9999\u6e2f\u5168\u7403\u7269\u6d41\u670d\u52a1\u4e2d\u5fc3) would like to invite you to meet our team at Air Cargo China 2026.\n\n\ud83d\udcc5 June 24\u201326, 2026\n\ud83d\udccd Shanghai New International Expo Centre (\u4e0a\u6d77\u65b0\u56fd\u9645\u535a\u89c8\u4e2d\u5fc3)\n\nClick below to book your meeting slot:\nhttps://jolly-bunny-04d897.netlify.app/\n\nGLS \u4f20\u8baf Team\nmarketing@glshk.com",
        "additionalFields": {}
      },
      "id": "a5000008-a500-a500-a500-a50000000008",
      "name": "Send All Invites",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        1700,
        1100
      ],
      "credentials": {
        "sendGridApi": {
          "id": "rrjx8UnEzsCE8Ok3",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var item = $input.first().json;\nvar email = item.toEmail || item.email || '';\nreturn [{json:{email:email,invite_sent:'yes',invite_sent_at:new Date().toISOString()}}];"
      },
      "id": "a5000009-a500-a500-a500-a50000000009",
      "name": "Mark All Sent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1950,
        1100
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invite_sent": "={{ $json.invite_sent }}",
            "invite_sent_at": "={{ $json.invite_sent_at }}",
            "email": "={{ $json.email }}"
          },
          "matchingColumns": [
            "email"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a5000010-a500-a500-a500-a50000000010",
      "name": "Update All Invited",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2200,
        1100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-remind",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a6000001-a600-a600-a600-a60000000001",
      "name": "Remind Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        1800
      ],
      "webhookId": "b6000001-b600-b600-b600-b60000000001"
    },
    {
      "parameters": {
        "jsCode": "var body = $input.first().json.body || $input.first().json;\nreturn [{json:{email:body.email,name:body.name||body.email,company:body.company||''}}];"
      },
      "id": "a6000002-a600-a600-a600-a60000000002",
      "name": "Prep Remind",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        1800
      ]
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "marketing@glshk.com",
        "fromName": "Kitty Wong",
        "toEmail": "={{ $json.email }}",
        "subject": "Reminder: Book your meeting with GLS \u4f20\u8baf \u2014 Air Cargo China 2026",
        "contentValue": "=Dear {{ $json.name }},\n\nThis is a friendly reminder that GLS \u4f20\u8baf would love to meet you at Air Cargo China 2026.\n\n\ud83d\udcc5 June 24\u201326, 2026\n\ud83d\udccd Shanghai New International Expo Centre\n\nMeeting slots are filling up. Book yours now:\nhttps://jolly-bunny-04d897.netlify.app/\n\nIf you have any questions, please reply to this email.\n\nGLS \u4f20\u8baf Team\nmarketing@glshk.com",
        "additionalFields": {}
      },
      "id": "a6000003-a600-a600-a600-a60000000003",
      "name": "Send Remind Email",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        700,
        1800
      ],
      "credentials": {
        "sendGridApi": {
          "id": "rrjx8UnEzsCE8Ok3",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success:true,email:$json.toEmail||$json.email}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a6000004-a600-a600-a600-a60000000004",
      "name": "Respond Remind",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        950,
        1800
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "gls-pending",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a7000001-a700-a700-a700-a70000000001",
      "name": "Pending Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        2100
      ],
      "webhookId": "b7000001-b700-b700-b700-b70000000001"
    },
    {
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Booking"
        },
        "options": {}
      },
      "id": "a7000002-a700-a700-a700-a70000000002",
      "name": "Read Bookings Pending",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        450,
        2100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var bookings = $input.all().map(function(i){return i.json;});\nvar pending = bookings.filter(function(b){\n  var s = String(b.status||'').toLowerCase();\n  return b.date && (s==='' || s==='pending');\n});\npending.sort(function(a,b){\n  return String(a.date).localeCompare(String(b.date))||String(a.time).localeCompare(String(b.time));\n});\nreturn [{json:{bookings:pending,count:pending.length}}];"
      },
      "id": "a7000003-a700-a700-a700-a70000000003",
      "name": "Format Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        2100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a7000004-a700-a700-a700-a70000000004",
      "name": "Respond Pending",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        950,
        2100
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-assign",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a8000001-a800-a800-a800-a80000000001",
      "name": "Assign Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        2400
      ],
      "webhookId": "b8000001-b800-b800-b800-b80000000001"
    },
    {
      "parameters": {
        "jsCode": "var body = $input.first().json.body || $input.first().json;\nvar dateParts = String(body.date||'').split('/');\nvar timeParts = String(body.time||'').split(':');\nvar calLink = '';\nif (dateParts.length===3 && timeParts.length>=1) {\n  var yr=dateParts[2], mo=dateParts[0].padStart(2,'0'), dy=dateParts[1].padStart(2,'0');\n  var h=parseInt(timeParts[0]||0), m=parseInt(timeParts[1]||0);\n  var startStr=yr+mo+dy+'T'+String(h).padStart(2,'0')+String(m).padStart(2,'0')+'00';\n  var endM=m+30, endH=h+Math.floor(endM/60); endM=endM%60;\n  var endStr=yr+mo+dy+'T'+String(endH).padStart(2,'0')+String(endM).padStart(2,'0')+'00';\n  calLink='https://calendar.google.com/calendar/render?action=TEMPLATE&text=Meeting+with+GLS&dates='+startStr+'/'+endStr+'&details=GLS+appointment+at+Air+Cargo+China+2026&location=Shanghai+New+International+Expo+Centre';\n}\nreturn [{json:{\n  slot_Id: body.slot_id||body.slot_Id,\n  date: body.date,\n  time: body.time,\n  client_name: body.client_name,\n  client_email: body.email,\n  company: body.company||'',\n  salesperson_name: body.salesperson_name,\n  salesperson_email: body.salesperson_email,\n  cal_link: calLink,\n  status: 'confirmed'\n}}];"
      },
      "id": "a8000002-a800-a800-a800-a80000000002",
      "name": "Prep Assign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        2400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Booking"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "salesperson_name": "={{ $json.salesperson_name }}",
            "salesperson_email": "={{ $json.salesperson_email }}",
            "status": "={{ $json.status }}",
            "slot_Id": "={{ $json.slot_Id }}"
          },
          "matchingColumns": [
            "slot_Id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a8000003-a800-a800-a800-a80000000003",
      "name": "Update Booking Assigned",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        700,
        2400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      }
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "marketing@glshk.com",
        "fromName": "GLS \u4f20\u8baf",
        "toEmail": "={{ $node['Prep Assign'].json.salesperson_email }}",
        "subject": "=[GLS \u4f20\u8baf] New appointment assigned \u2014 {{ $node['Prep Assign'].json.client_name }} | {{ $node['Prep Assign'].json.date }} {{ $node['Prep Assign'].json.time }}",
        "contentValue": "=Dear {{ $node['Prep Assign'].json.salesperson_name }},\n\nYou have been assigned the following meeting at Air Cargo China 2026:\n\n\ud83d\udc64 Client: {{ $node['Prep Assign'].json.client_name }}\n\ud83c\udfe2 Company: {{ $node['Prep Assign'].json.company }}\n\ud83d\udce7 Email: {{ $node['Prep Assign'].json.client_email }}\n\ud83d\udcc5 Date: {{ $node['Prep Assign'].json.date }}\n\u23f0 Time: {{ $node['Prep Assign'].json.time }}\n\ud83d\udccd Location: Shanghai New International Expo Centre\n\nPlease be prepared for this meeting. For questions contact marketing@glshk.com.\n\nGLS \u4f20\u8baf Team",
        "additionalFields": {}
      },
      "id": "a8000004-a800-a800-a800-a80000000004",
      "name": "Send SP Email",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        950,
        2400
      ],
      "credentials": {
        "sendGridApi": {
          "id": "rrjx8UnEzsCE8Ok3",
          "name": "SendGrid account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "marketing@glshk.com",
        "fromName": "Kitty Wong",
        "toEmail": "={{ $node['Prep Assign'].json.client_email }}",
        "subject": "=[GLS \u4f20\u8baf] Your meeting is confirmed \u2014 Air Cargo China 2026",
        "additionalFields": {},
        "contentValue": "=Dear {{ $node['Prep Assign'].json.client_name }},\n\nGreat news! Your meeting with GLS \u4f20\u8baf has been confirmed.\n\n\ud83d\udcc5 Date: {{ $node['Prep Assign'].json.date }}\n\u23f0 Time: {{ $node['Prep Assign'].json.time }}\n\ud83e\udd1d Your GLS contact: {{ $node['Prep Assign'].json.salesperson_name }} ({{ $node['Prep Assign'].json.salesperson_email }})\n\ud83d\udccd Location: Shanghai New International Expo Centre\n\nAdd to Calendar: {{ $node['Prep Assign'].json.cal_link }}\n\nWe look forward to meeting you at Air Cargo China 2026!\n\nGLS \u4f20\u8baf Team\nmarketing@glshk.com"
      },
      "id": "a8000005-a800-a800-a800-a80000000005",
      "name": "Send Customer Confirm",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        1200,
        2400
      ],
      "credentials": {
        "sendGridApi": {
          "id": "rrjx8UnEzsCE8Ok3",
          "name": "SendGrid account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success:true,slot_id:$node['Prep Assign'].json.slot_Id,salesperson:$node['Prep Assign'].json.salesperson_name}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a8000006-a800-a800-a800-a80000000006",
      "name": "Respond Assign",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1450,
        2400
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "gls-bookings",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a9000001-a900-a900-a900-a90000000001",
      "name": "Bookings Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        2700
      ],
      "webhookId": "b9000001-b900-b900-b900-b90000000001"
    },
    {
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Booking"
        },
        "options": {}
      },
      "id": "a9000002-a900-a900-a900-a90000000002",
      "name": "Read All Bookings JSON",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        450,
        2700
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var bookings = $input.all().map(function(i){return i.json;}).filter(function(b){return !!b.date;});\nbookings.sort(function(a,b){return String(a.date).localeCompare(String(b.date))||String(a.time).localeCompare(String(b.time));});\nreturn [{json:{bookings:bookings,count:bookings.length}}];"
      },
      "id": "a9000003-a900-a900-a900-a90000000003",
      "name": "Format All Bookings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        2700
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a9000004-a900-a900-a900-a90000000004",
      "name": "Respond Bookings",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        950,
        2700
      ]
    },
    {
      "id": "A5CF2A7A",
      "name": "Templates Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        2900
      ],
      "parameters": {
        "httpMethod": "GET",
        "path": "gls-templates",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "1C4660EE",
      "name": "Read Templates Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        2900
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Template"
        },
        "options": {
          "continueIfEmpty": true
        }
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "id": "E3AC3404",
      "name": "Respond Templates",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        2900
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({templates: $input.all().map(i => i.json)}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "1CE47B92",
      "name": "Save Template Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        3060
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-save-template",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "ACFE4342",
      "name": "Update Template Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        3060
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Template"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "template_name": "={{ $json.body.template_name || $json.template_name }}",
            "subject": "={{ $json.body.subject || $json.subject }}",
            "body": "={{ $json.body.body || $json.body_text }}"
          },
          "matchingColumns": [
            "template_name"
          ],
          "attemptToConvertTypes": false
        },
        "options": {}
      }
    },
    {
      "id": "FE88EFE8",
      "name": "Respond Save Template",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        3060
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "910C315F",
      "name": "SendGrid Events Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        3220
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "gls-sendgrid-events",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "FAC401E6",
      "name": "Process SG Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        3220
      ],
      "parameters": {
        "jsCode": "var events = $input.first().json.body || $input.first().json;\nif (!Array.isArray(events)) events = [events];\nvar statusMap = { open: 'opened', click: 'clicked', bounce: 'bounced', unsubscribe: 'unsubscribed', spamreport: 'spam' };\nvar results = [];\nevents.forEach(function(e) {\n  var status = statusMap[e.event];\n  if (status && e.email) results.push({ email: e.email, status: status });\n});\nreturn results.map(function(r) { return { json: r }; });"
      }
    },
    {
      "id": "63ACD35D",
      "name": "Update Contact Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        3220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeQwGHbDftGYpvZc",
          "name": "Google Sheets iamcharlesalston"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "mode": "id",
          "value": "1wSNDUF8PFL8zYgJX53IoBNLFBM-rBlQL2IKErBejauc"
        },
        "sheetName": {
          "mode": "name",
          "value": "Contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "email"
          ],
          "attemptToConvertTypes": false
        },
        "options": {}
      }
    },
    {
      "id": "04F63759",
      "name": "Respond SG Events",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        3220
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true}",
        "options": {}
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Slots Webhook": {
      "main": [
        [
          {
            "node": "Read Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Slots": {
      "main": [
        [
          {
            "node": "Format Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slots": {
      "main": [
        [
          {
            "node": "Respond Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contacts Webhook": {
      "main": [
        [
          {
            "node": "Read Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Contacts": {
      "main": [
        [
          {
            "node": "Format Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Contacts": {
      "main": [
        [
          {
            "node": "Respond Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Contact Webhook": {
      "main": [
        [
          {
            "node": "Prep Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Contact": {
      "main": [
        [
          {
            "node": "Append Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Contact": {
      "main": [
        [
          {
            "node": "Respond Add Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invite Webhook": {
      "main": [
        [
          {
            "node": "Prep Invite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Invite": {
      "main": [
        [
          {
            "node": "Send Invite Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Invite Email": {
      "main": [
        [
          {
            "node": "Mark Invite Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Invite Sent": {
      "main": [
        [
          {
            "node": "Update Contact Invited",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact Invited": {
      "main": [
        [
          {
            "node": "Respond Invite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invite All Webhook": {
      "main": [
        [
          {
            "node": "Read Contacts All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Contacts All": {
      "main": [
        [
          {
            "node": "Filter Uninvited",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Uninvited": {
      "main": [
        [
          {
            "node": "IF Has Uninvited",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Uninvited": {
      "main": [
        [
          {
            "node": "Respond Sending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond None",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Sending": {
      "main": [
        [
          {
            "node": "Expand Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Contacts": {
      "main": [
        [
          {
            "node": "Send All Invites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send All Invites": {
      "main": [
        [
          {
            "node": "Mark All Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark All Sent": {
      "main": [
        [
          {
            "node": "Update All Invited",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remind Webhook": {
      "main": [
        [
          {
            "node": "Prep Remind",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Remind": {
      "main": [
        [
          {
            "node": "Send Remind Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Remind Email": {
      "main": [
        [
          {
            "node": "Respond Remind",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pending Webhook": {
      "main": [
        [
          {
            "node": "Read Bookings Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Bookings Pending": {
      "main": [
        [
          {
            "node": "Format Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Pending": {
      "main": [
        [
          {
            "node": "Respond Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Webhook": {
      "main": [
        [
          {
            "node": "Prep Assign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Assign": {
      "main": [
        [
          {
            "node": "Update Booking Assigned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Booking Assigned": {
      "main": [
        [
          {
            "node": "Send SP Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SP Email": {
      "main": [
        [
          {
            "node": "Send Customer Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Customer Confirm": {
      "main": [
        [
          {
            "node": "Respond Assign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bookings Webhook": {
      "main": [
        [
          {
            "node": "Read All Bookings JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Bookings JSON": {
      "main": [
        [
          {
            "node": "Format All Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format All Bookings": {
      "main": [
        [
          {
            "node": "Respond Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Templates Webhook": {
      "main": [
        [
          {
            "node": "Read Templates Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Templates Sheet": {
      "main": [
        [
          {
            "node": "Respond Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Template Webhook": {
      "main": [
        [
          {
            "node": "Update Template Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Template Sheet": {
      "main": [
        [
          {
            "node": "Respond Save Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendGrid Events Webhook": {
      "main": [
        [
          {
            "node": "Process SG Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process SG Events": {
      "main": [
        [
          {
            "node": "Update Contact Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact Status": {
      "main": [
        [
          {
            "node": "Respond SG Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "gls-dashboard-api-v1",
  "meta": {
    "instanceId": "f46520974004fbdd26797e65a10feedff5b3e19c804b73bcd97f01b2e649364f"
  },
  "id": "GLSDashboardAPI001",
  "tags": []
}